language: python
cache: pip
python:
- 3.6.5
before_install:
- openssl aes-256-cbc -K $encrypted_382e802577bb_key -iv $encrypted_382e802577bb_iv
  -in .travis/id_rsa.enc -out id_rsa -d
- cd biasimpacter
install:
- pip install -r requirements.txt
script: pytest
deploy:
  skip_cleanup: true
  provider: script
  script: deploy.sh
  on:
    branch: master

